[submodule "3rdparty/perfparser"]
	path = 3rdparty/perfparser
	url = https://github.com/KDAB/perfparser.git
#        url = git://code.qt.io/qt-creator/perfparser.git
[submodule "3rdparty/PrefixTickLabels"]
	path = 3rdparty/PrefixTickLabels
	url = https://github.com/koenpoppe/PrefixTickLabels
[submodule "3rdparty/KDDockWidgets"]
	path = 3rdparty/KDDockWidgets
	url = https://github.com/KDAB/KDDockWidgets.git
[submodule "3rdparty/elfutils"]
	path = 3rdparty/elfutils
	url = git://sourceware.org/git/elfutils.git
[submodule "3rdparty/cpuburn"]
	path = 3rdparty/cpuburn
	url = https://github.com/iamsergio/cpuburn.git
[submodule "3rdparty/vcpkg"]
	path = 3rdparty/vcpkg
	url = https://github.com/microsoft/vcpkg.git
